{% load staticfiles %}
{% load socialaccount %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
	<title>{% block title %}NPC Registration{% endblock %}</title>
	<meta name="description" content="NPC">
	<meta name="author" content="NPC">
	<!--this meta is needed to render adequately on mobiles, 
		taking into account physical screen sizes, 
		rather than just pixels-->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}"/>

	<link rel="stylesheet" type="text/css" href="{% static 'app.css' %}"

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>-->	
</head>

<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.geokbd.css' %}" />

<!-- GEORGIAN KEYBOARD -->
<script src="{% static 'js/jquery.geokbd.js' %}"></script>

<script type="text/javascript">
	var fnameHTML = "<div class='form-field-holder'>" 
		+ "<label for='id_fname'>სახელი:</label>" 
		+ "<input id='id_fname' maxlength='95' type='text'></div>"
	var lnameHTML = "<div style='width:100%;'>"
		+ "<label for='id_lname'>გვარი:</label>"
		+ "<input id='id_lname' maxlength='95' type='text'></div>"

	var personalNumHTML = "<div class='form-field-holder'>"
		+ "<label for='personalNum' style='height: 40px !important; "
		+ "top: 14px !important; margin-top: -14px !important'>"
		+ "გაიმეორეთ პირადი ნომერი:</label>"
		+ "<input id='id_personal_id-repeat' maxlength='11' required "
		+ "placeholder='XXXXXXXXXXX' style='margin-left: 4px !important' type='text'></div>"

	var errorDiv = "<div id='DIV_ID' style='width: 100%; "
		+ "border-bottom: 1px dotted gray; color: red; font-size: 11px; padding-bottom: 10px'>"

	var errors;

	$(document).ready(function(){
		$('#kbd-switcher').geokbd();
		errorDiv = errorDiv.replace('DIV_ID', 'errorDiv1');
		/*$(fnameHTML).insertAfter($('#errorDiv'));
		$(errorDiv).insertAfter($('#id_fname').closest('div'));

		$(lnameHTML).insertAfter($('#errorDiv1'));
		$(errorDiv).insertAfter($('#id_lname').closest('div'));*/

		errorDiv = errorDiv.replace('errorDiv1', 'errorDiv2')
		$(errorDiv).insertAfter($('#id_personal_id').closest('div'));
		$(personalNumHTML).insertAfter($('#errorDiv2'));

		/*$('#id_fname').val($('#id_first_name').val())
		$('#id_lname').val($('#id_last_name').val())*/
		$('#id_personal_id-repeat').val($('#id_personal_id').val())
	});

	function validate(){
		/*var fname1 = $('#id_fname');
		var fname2 = $('#id_first_name');
		var lname1 = $('#id_lname');
		var lname2 = $('#id_last_name');*/
		var pnum1 = $('#id_personal_id');
		var pnum2 = $('#id_personal_id-repeat');
		/*console.log(fname1.val() + ' - ' + fname2.val())
		if (fname1.val() == '' || fname2 == '')
			console.log('validation error fname blank')
		if (lname2.val() == '' || fname2 == '')
			console.log('validation error lname blank')*/
		if (pnum1.val() == '' || pnum2.val() == '')
			console.log('validation error pnum blank')

		/*if (fname1.val() != fname2.val())
			console.log('validation error no fname match')
		if (lname1.val() != lname2.val())
			console.log('validation error no lname match')*/
		if (pnum1.val() != pnum2.val())
			console.log('validation error no pnum match')
		if (pnum1.val().length != 11)
			console.log('validation error invalid pnum')
	}

	$('#id_first_name').geokbd();
</script>

	<input id='kbd-switcher' type="checkbox"/>


	<div class='full-width'>
		<div class='row' style='padding-top: 40px; margin-bottom: 20px'>
			<div class='columns small-6 small-centered'>
				<div style='width: 30%; text-align: right; float: left'>
					<h3 style='font-family: lestudioCaps;
						font-size: 20px; text-align: right;
						line-height: 22px; margin-top: 70px; color: #667766;
						margin-right: 30px'>
						NEW<br/>POLITICAL<br/>CENTER<br/><nobr>&mdash; GIRCHI</nobr>
					</h3>				
				</div>
				<div style='width: 40%; text-align: right; float: left'>
					<img src='../media/images/npc_header3.png' style='float: left'/>
				</div>
				<div style='width: 30%; text-align: left; float: left'>
					<h3 style='font-family: lestudioCaps;
						font-size: 20px;
						line-height: 22px; margin-top: 70px; color: #667766;
						margin-left: 30px'>
						ახალი<br/>პოლიტიკური<br/><nobr>ცენტრი &mdash;</nobr><br/>გირჩი
					</h3>
				</div>
			</div>
		</div>		
		<div class='row'>
			<div class='columns small-6 small-centered' style='margin-bottom: 30px'>
				<div style='width: 100%; text-align: center'>
					<h2 style='color: #0f6d30'>გახდით ჩვენი წევრი</h2>
				</div>
				{% if form %}
				<form action='.' method='POST'>
					{% csrf_token %}
			        <!-- FIRSTNAME -->
			        <div class='form-field-holder' style='width: 100%;'>
			        	{{ form.first_name.label_tag }}
			        	{{ form.first_name }}
			        </div>
        			<div id='errorDiv-1' class='error-holder'>
						{% for error in form.first_name.errors %}{{ error }}{% endfor %}
					</div>	
			        <!-- LASTNAME -->
			        <div class='form-field-holder' style='width: 100%;'>
			        	{{ form.last_name.label_tag }}
			        	{{ form.last_name }}
			        </div>
        			<div id='errorDiv-2' class='error-holder'>
						{% for error in form.last_name.errors %}{{ error }}{% endfor %}
					</div>
			        <!-- PERSONAL ID -->
			        <div class='form-field-holder' style='width: 100%;'>
			        	{{ form.personal_id.label_tag }}
			        	{{ form.personal_id }}
			        </div>
        			<div id='errorDiv-3' class='error-holder'>
						{% for error in form.personal_id.errors %}{{ error }}{% endfor %}
					</div>	
							
			        <!-- FACEBOOK -->
			        <a href="{% provider_login_url 'facebook' method='oauth2' next='/register/' %}">fb_auth</a>
			        <!-- EMAIL -->
			        <div class='form-field-holder' style='width: 100%;'>
			        	{{ form.email.label_tag }}
			        	{{ form.email }}
			        </div>
        			<div id='errorDiv-4' class='error-holder'>
						{% for error in form.email.errors %}{{ error }}{% endfor %}
					</div>
			        <!-- PHONE TYPE / PHONE -->
			        <div class='form-field-holder' style='width: 100%;'>
			        	{{ form.phone.label_tag }}
			        	{{ form.phone_type }}
			        	{{ form.phone }}
			        </div>
        			<div id='errorDiv-5' class='error-holder'>
						{% for error in form.phone.errors %}{{ error }}{% endfor %}
					</div>					
					
					<!-- REGION / DISTRICT -->
					<div style='width: 100%;'>
				    	{{ form.district.label_tag }}
					    <select name='' id='region_id' tabindex='1'>
					    	{% include 'regApp/parts/region-options.html' %}
						</select>
					</div>
        			<div id='errorDiv-6' class='error-holder'>
						{% for error in form.district.errors %}{{ error }}{% endfor %}
					</div>

			        <!-- SETTLEMENT -->
			        <div class='form-field-holder' style='width: 100%;'>
			        	{{ form.settlement.label_tag }}
			        	{{ form.settlement }}
			        </div>
        			<div id='errorDiv-7' class='error-holder'>
						{% for error in form.settlement.errors %}{{ error }}{% endfor %}
					</div>
					
			        <!-- ADDRESS -->
			        <div class='form-field-holder' style='width: 100%;'>
			        	{{ form.address.label_tag }}
			        	{{ form.address }}
			        </div>
        			<div id='errorDiv-8' class='error-holder'>
						{% for error in form.address.errors %}{{ error }}{% endfor %}
					</div>		
					
			        <!-- BIRTHDATE -->
			        <div class='form-field-holder' style='width: 100%;'>
			        	{{ form.birth_date.label_tag }}
			        	{{ form.birth_date }}
			        </div>
        			<div id='errorDiv-8' class='error-holder'>
						{% for error in form.birth_date.errors %}{{ error }}{% endfor %}
					</div>								

					<div style='width: 100%; text-align: center'>
						<input type='submit'
							value='გაწევრიანება' style='margin-top: 20px !important' />
					</div>
				</form>
				{% endif %}	
				{% if success %}
					თქვენ წარმატებით გაიარეთ რეგისტრაცია
				{% endif %}			
			</div>
		</div>
	</div>
</body>

-1
